:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --secondary-text-color: #212121;
  --main-text-color: #757575;
  --dark-theme-color: #ffffff;
  --dark-theme-secondary-color: rgba(255, 255, 255, 0.6);
  --dark-logo-color: #000000;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--main-text-color);
}

/* ============ COMPONENTS ============ */

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.address {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
}

.modal-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-theme-color);
  background-color: var(--accent-color);
  margin-top: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

h1,
h2,
h3 {
  margin: 0px;
}

/* ============ END COMPONENTS ============ */

/* ============ HEADER ============ */

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}

.logo-studio-dark {
  color: var(--dark-logo-color);
}

.navigation-list-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.link-current {
  color: var(--accent-color);
}

.address-light-theme {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.address-list {
  display: flex;
  margin-left: 331px;
}

.address-list-item + .address-list-item {
  margin-left: 50px;
}

.address-list-link {
}

/* ============ END HEADER ============ */

/* ============ HERO ============ */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  height: 600px;
  text-align: center;
}

.hero-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-theme-color);
}

/* END HERO */

/* ADVANTAGES */
.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* END ADVANTAGES */

/* TEAM */
.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.staff-proffession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}
/* END TEAM */

/* FOOTER */

.footer {
  background-color: #2f303a;
  height: 252px;
}

.logo-studio-light {
  color: var(--dark-theme-color);
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--dark-theme-color);
}

.address-dark-theme {
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--dark-theme-secondary-color);
}

/* END FOOTER */

/* PORTFOLIO PAGE */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.filter-button:hover {
  color: var(--dark-theme-color);
  background-color: var(--accent-color);
}

.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.work-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/* END PORTFOLIO PAGE */
