:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --secondary-text-color: #212121;
  --main-text-color: #757575;
  --dark-theme-color: #ffffff;
  --dark-theme-secondary-color: rgba(255, 255, 255, 0.6);
  --dark-logo-color: #000000;
  --accent-color: #2196f3;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--main-text-color);
}

/* ============ COMPONENTS ============ */

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}

.address {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
}

.modal-button {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-theme-color);
  background-color: var(--accent-color);
  border-style: none;

  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

h1,
h2,
h3 {
  margin: 0px;
}

/* ============ END COMPONENTS ============ */

/* ============ HEADER ============ */

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .navigation-list {
  display: flex;
  margin-left: 93px;
}

.page-header .navigation-list-item + .navigation-list-item {
  margin-left: 50px;
}

.logo-studio-dark {
  color: var(--dark-logo-color);
}

.navigation-list-link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}

.address-light-theme {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.page-header .address {
  display: flex;
  margin-left: auto;
}

.page-header .address-list {
  display: flex;
}

.page-header .address-list-item + .address-list-item {
  margin-left: 50px;
}

.address-list-link {
  display: block;
}

.link-current {
  color: var(--accent-color);
}

/* ============ END HEADER ============ */

/* ============ HERO ============ */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  width: 696px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-theme-color);
  margin: 0 auto;
}

/* ============ END HERO ============ */

/* ============ ADVANTAGES ============ */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.advantages .container {
  display: flex;
  justify-content: space-between;
}

.advantages-list-item {
  width: 270px;
}

/* ============ END ADVANTAGES ============ */

/* ============ WORKS GALLERY ============ */

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery .title {
}

.gallery .container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* ============ END WORKS GALLERY ============ */

/* ============ TEAM ============ */

.staff {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}

.staff .container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 30px;
}

.staff-proffession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.staff-list-item {
  text-align: center;
  padding-bottom: 30px;
  background-color: var(--dark-theme-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* ============ END TEAM ============ */

/* ============ FOOTER ============ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-studio-light {
  color: var(--dark-theme-color);
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--dark-theme-color);
}

.address-dark-theme {
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--dark-theme-secondary-color);
}

.footer .address {
  margin-top: 20px;
}

.footer .address-list-item:not(:first-child) {
  margin-top: 9px;
}

/* ============ END FOOTER ============ */

/* ============ PORTFOLIO PAGE ============ */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  width: 611px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  background-color: #f5f4fa;
  border-style: none;
  min-width: 73px;
  height: 50px;
  padding: 6px 22px;
  border-radius: 4px;
}

.filter-button:hover {
  color: var(--dark-theme-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-gallery .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.work-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work-list-item:nth-child(3n) {
  margin-right: 0px;
}

.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-top: 20px;
}

.work-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin-top: 4px;
}

.work-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-top: 0;
  border-right: 1px;
  border-left: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #eeeeee;
}

/* ============ END PORTFOLIO PAGE ============ */
